<main>
    <h1>Delete Cube</h1>
    <div class="form">
        <form action="/delete/{{cube._id}}" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{cube.name}}" disabled>
            <label for="description">Description</label>
            <textarea id="description" name="description" disabled>{{cube.description}}</textarea>
            <label for="image">ImageUrl</label>
            <input type="text" id="image" name="imageUrl" value="{{cube.imageUrl}}" disabled>
            <label for="difficulty">Difficulty</label>
            <select id="difficulty" name="difficultyLevel" disabled/>
            {{#each difficultyLevels}}
            {{#if selected}}
            <option value="{{key}}" selected>{{key}} - {{label}}</option>
            {{/if}}
            {{/each}}
            </select>
            <input type="submit" value="Delete">
        </form>
    </div>
</main>