<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/catalog">CATALOG</a></li>
                {{#if userData}}
                <li><a href="/create">SELL PRODUCT</a></li>
                <li><a href="/auth/logout">LOGOUT</a></li>
                {{else}}
                <li><a href="/auth/register">REGISTER</a></li>
                <li><a href="/auth/login">LOGIN</a></li>
                {{/if}}
            </ul>
        </nav>
        {{#if userData}}
        <p>Logged with: {{userData.email}}</p>
        {{else}}
        <p>Not logged.</p>
        {{/if}}
    </header>

    {{{body}}}
</body>

</html>